:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(210, 13%, 15%);
    color: hsl(217, 12%, 63%);
}
li:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%)
}

li.selected {
  background-color: white;
  color: black;
}

div{
    width: 100%;
    display: flex;
    justify-content: center
}
button{
    background-color: hsl(25, 97%, 53%);
    
    border: none;
    font-family: 'Overpass', Arial, sans-serif;
    font-weight: 700;
    width: 100%;
    height: 45px;;
    font-size: 1.2rem;
    border-radius: 15px;
}

button:hover{
    background-color:hsl(25, 99%, 66%);
    color: hsl(216, 12%, 8%);
}

button:active {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc;
}